# --- Pip Configuration ---
--extra-index-url https://download.pytorch.org/whl/cpu

# --- Core & Data Handling ---
pandas
numpy
scikit-learn
tqdm

# --- AI & Machine Learning ---
torch
transformers
sentence-transformers
langchain
langchain-core
langchain-google-genai
langchain-mongodb
langchain-huggingface

# --- Backend API ---
fastapi
uvicorn[standard]
pydantic

# --- Frontend UI ---
streamlit
requests

# --- Database & Environment ---
pymongo
python-dotenv
email-validator

# --- Testing ---
pytest
httpx